:root {
  --ori-brown: #7c3504;
  --ori-green: #93c01f;
  --ori-light-gray: #343434;
  --ori-dark-gray: #2d2d2d;
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item {
  position: relative;
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container {
  position: absolute;
  z-index: 9;
  bottom: 3em;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container {
    width: 50%;
    bottom: 9em;
  }
}
@media only screen and (min-width: 1200px) {
  .path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container {
    width: 40%;
    bottom: 11em;
  }
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container .slide_text {
  position: relative;
  padding: 1.5em;
  border-top: 1px solid #B9B9B9;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container .slide_text {
    padding: 2.5em;
  }
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container .slide_text::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.45;
  left: 0;
  top: 0;
  z-index: -1;
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container .slide_text h2 {
  color: #fff;
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container .slide_text h2 span {
  color: var(--ori-green);
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item .container .slide_text p {
  color: #fff;
  margin: unset;
}
.path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
    height: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  .path-frontpage #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
    height: 620px;
  }
}
.path-frontpage #preface {
  padding: 40px 0 40px;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #preface {
    padding: 60px 0 40px;
    background: url(../images/logo-accent.png) no-repeat;
    background-size: 65%;
    background-position: -6px -34px;
  }
}
@media only screen and (min-width: 992px) {
  .path-frontpage #preface {
    padding: 80px 0 60px;
    background-size: 48%;
    background-position: -6px -16px;
  }
}
@media only screen and (min-width: 1200px) {
  .path-frontpage #preface {
    background-size: 36%;
  }
}
.path-frontpage #preface .container {
  margin: 0 auto !important;
}
.path-frontpage #preface .container #block-views-block-home-whoweare .my-5 {
  margin: unset !important;
}
.path-frontpage #preface .container #block-views-block-home-whoweare .view .row img {
  margin-bottom: 2em;
}
.path-frontpage #preface .container #block-views-block-home-whoweare .view .row span {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.path-frontpage #preface .container #block-views-block-home-whoweare .view .row p {
  margin-bottom: 2rem;
}
.path-frontpage #preface .container #block-views-block-home-whoweare .view .row a.btn {
  padding: 0.6em 2em;
}
.path-frontpage #preface .container #block-views-block-home-whoweare .view .row a.btn:hover {
  background: var(--ori-brown);
  color: #fff;
  border: 1px solid var(--ori-brown);
}
.path-frontpage #content {
  padding: 0 0 40px 0;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #content {
    padding: 0 0 60px 0;
  }
}
@media only screen and (min-width: 992px) {
  .path-frontpage #content {
    padding: 0 0 80px 0;
  }
}
.path-frontpage #content .container {
  margin: 0 auto !important;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-header {
  margin-bottom: 2em;
  text-align: center;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-header span {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content {
  margin-bottom: 2em;
}
@media only screen and (min-width: 992px) {
  .path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content {
    margin-bottom: 3em;
  }
}
@media only screen and (min-width: 768px) {
  .path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid {
    grid-template-columns: none;
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li {
  padding: 0 !important;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .field-content img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 576px) {
  .path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .field-content {
    width: auto !important;
    flex-basis: 50% !important;
  }
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .caption {
  position: relative;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .caption h3 {
  margin-bottom: 1rem;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .caption a {
  color: #000;
  font-weight: 600;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .caption a svg {
  margin-left: 0.5em;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .caption a {
    position: absolute;
    bottom: 1.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li .caption {
    width: auto !important;
    flex-basis: 50% !important;
  }
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .view-content ul.expertise-grid li:hover .caption a {
  color: var(--ori-green);
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .more-link {
  text-align: center;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .more-link a {
  padding: 0.6em 2em;
  color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 600;
}
.path-frontpage #content .container #block-views-block-what-we-do-wed .view .more-link a:hover {
  background: var(--ori-brown);
  color: #fff;
  border: 1px solid var(--ori-brown);
}
.path-frontpage #content-after {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #content-after {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 992px) {
  .path-frontpage #content-after {
    padding: 80px 0;
    background: linear-gradient(90deg, var(--ori-brown) 50%, #f2f2f2 10%);
  }
}
.path-frontpage #content-after .container {
  margin: 0 auto !important;
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view .view-header h2 {
  margin-bottom: 1rem;
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view .view-header p {
  margin-bottom: 2em;
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view .view-header a.btn {
  padding: 0.6em 2em;
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view ul.practice-list {
  grid-gap: 1em;
}
@media only screen and (min-width: 992px) {
  .path-frontpage #content-after .container #block-views-block-industries-ind .content .view ul.practice-list {
    grid-gap: 30px;
  }
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view ul.practice-list li div {
  top: 56%;
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view ul.practice-list li div a {
  display: block;
}
.path-frontpage #content-after .container #block-views-block-industries-ind .content .view ul.practice-list li div a svg {
  margin-left: 0.5em;
}
.path-frontpage #news-updates {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .path-frontpage #news-updates {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 992px) {
  .path-frontpage #news-updates {
    padding: 80px 0;
  }
}
.path-frontpage #news-updates .container {
  margin: 0 auto !important;
}
