:root {
  --ori-brown: #7c3504;
  --ori-green: #93c01f;
  --ori-light-gray: #343434;
  --ori-dark-gray: #2d2d2d;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  border: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
}
h2 {
  font-weight: 700;
  font-size: 2.3rem;
}
h3 {
  font-size: 1.5rem;
}
.btn {
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 600;
}
#branding {
  border-top: 5px solid var(--ori-green);
}
@media (max-width: 576px) {
  #branding .logo {
    z-index: 10;
  }
  #branding .mobile-menu {
    position: absolute;
    padding: 0px;
  }
}
#branding .navbar .navbar-toggler {
  border: 0px;
  margin: 0px 8px 0 0;
  padding: 0px;
  font-size: 150%;
  font-weight: 700;
}
#branding .navbar button:focus:not(:focus-visible) {
  box-shadow: unset;
}
@media (max-width: 576px) {
  #branding .navbar .container-fluid {
    justify-content: end;
    padding: 0;
  }
  #branding .navbar .navbar-collapse {
    position: relative;
    top: 12px;
    background: linear-gradient(267deg, #491e1e, #7c3504);
    z-index: 99;
    padding: 1rem;
  }
  #branding .navbar .navbar-collapse .navbar-nav {
    margin: 0px;
    padding: 0px;
  }
  #branding .navbar .navbar-collapse .navbar-nav li {
    font-weight: 600;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a {
    color: #ffffff;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a:hover {
    color: var(--ori-green);
  }
  #branding .navbar .navbar-collapse .navbar-nav li a.active {
    color: var(--ori-green);
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu {
    border-radius: 0px;
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a {
    color: var(--ori-brown);
  }
}
#slider {
  margin: 0px;
}
.block-title-style span {
  text-transform: uppercase;
  font-weight: 600;
  color: #7c7c7c;
  font-size: 95%;
  letter-spacing: 3px;
}
.block-title-style h2 {
  text-transform: capitalize;
  margin: 0.25rem 0 2rem;
}
@media (min-width: 768px) {
  .block-title-style h2 {
    margin: 0.25rem 0 2.7rem;
  }
}
#preface {
  background: none;
}
#preface h2 {
  margin-bottom: 1rem;
}
#preface p {
  font-size: 125%;
}
#preface .block-title-style {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #preface .block-title-style {
    padding-right: 2rem;
    margin: 0;
  }
}
#content-before {
  padding: 0px;
}
#content-before .expertise-grid {
  list-style: none;
  display: grid;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}
@media (min-width: 768px) {
  #content-before .expertise-grid {
    grid-template-columns: 1fr 1fr;
  }
}
#content-before .expertise-grid li {
  background: #ececec;
  padding-bottom: 1.5rem;
}
@media (min-width: 576px) {
  #content-before .expertise-grid li {
    display: flex;
    padding: 0;
  }
}
@media (min-width: 576px) {
  #content-before .expertise-grid li div.img {
    width: 65%;
    order: 2;
  }
}
@media (min-width: 768px) {
  #content-before .expertise-grid li div.img {
    width: 50%;
  }
}
#content-before .expertise-grid li div.img img {
  width: 100%;
  height: auto;
}
#content-before .expertise-grid li div.caption {
  padding: 1rem;
}
@media (min-width: 576px) {
  #content-before .expertise-grid li div.caption {
    width: 35%;
    order: 1;
  }
}
@media (min-width: 768px) {
  #content-before .expertise-grid li div.caption {
    width: 50%;
    padding: 1.5rem;
  }
}
#content-before .expertise-grid li div.caption h3 {
  font-weight: 700;
}
#content-before .expertise-grid li:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-before .expertise-grid li:hover a {
  color: var(--ori-green);
}
#content-before .btn-brown:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-after {
  background-color: var(--ori-brown);
  padding: 3rem 0;
}
#content-after .btn-green {
  border-color: #ffffff;
  color: #ffffff;
}
#content-after .btn-green:hover {
  background-color: var(--ori-green);
  border: 1px solid var(--ori-green);
}
#content-after ul.practice-list {
  list-style: none;
  display: grid;
  margin: 2.5rem 0 0 0px;
  padding: 0px;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  #content-after ul.practice-list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
#content-after ul.practice-list li {
  position: relative;
}
#content-after ul.practice-list li img {
  width: 100%;
  height: auto;
}
#content-after ul.practice-list li div {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #111010);
  top: 65%;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 1rem 1.5rem;
}
#content-after ul.practice-list li div h3 {
  font-weight: 600;
}
#content-after ul.practice-list li div a {
  color: var(--ori-green);
}
#news-updates {
  padding: 0;
}
#news-updates .newslist {
  list-style: none;
  display: grid;
  padding: 0px;
  margin: 0px;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  #news-updates .newslist {
    grid-template-columns: 1fr 1fr;
  }
}
#news-updates .newslist li {
  background-color: #f2f2f2;
}
#news-updates .newslist li img {
  width: 100%;
  height: auto;
}
#news-updates .newslist li div.body {
  padding: 1.5rem;
}
#news-updates .newslist li div.body span {
  color: var(--ori-green);
}
#news-updates .newslist li div.body h3 {
  font-weight: 600;
}
#news-updates .newslist li div.body p {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 1rem;
}
#news-updates .newslist li div.body a {
  font-weight: 500;
  font-size: 90%;
  color: var(--ori-brown);
}
@media (min-width: 576px) {
  #news-updates .newslist li {
    display: flex;
  }
  #news-updates .newslist li div.img {
    width: 40%;
  }
  #news-updates .newslist li div.img img {
    width: initial;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #news-updates .newslist li div.body {
    width: 60%;
  }
}
#footer {
  background-color: var(--ori-light-gray);
}
#footer h2 {
  font-size: 1.02rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
#footer p {
  color: #939191;
}
#footer p:nth-child(3),
#footer p:nth-child(4) {
  color: #e0e0e0;
  margin: 0 0 7px;
}
#footer p:nth-child(3) i,
#footer p:nth-child(4) i {
  color: var(--ori-green);
  padding-right: 6px;
}
#footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer ul li a {
  color: #939191;
}
#copyright {
  background-color: var(--ori-dark-gray);
  color: #939191;
}
#copyright p {
  margin: 0px;
  padding: 0px;
  font-size: 93%;
}
#copyright a {
  color: var(--ori-green);
}
#copyright i {
  margin: 0 15px;
}
