:root {
  --ori-brown: #7c3504;
  --ori-green: #93c01f;
  --ori-light-gray: #343434;
  --ori-dark-gray: #2d2d2d;
  --ori-gray: #f2f2f2;
  --ori-form-element: #f1f1f1;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  border: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a i {
  margin-left: 5px;
}
ul,
ol {
  margin: 0px;
}
h2 {
  font-weight: 700;
  font-size: 2.3rem;
}
h3 {
  font-size: 1.5rem;
}
.btn {
  border: 1px solid var(--ori-brown);
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 600;
  outline: none;
  box-shadow: none;
}
header {
  background: #ffffff;
}
#branding {
  border-top: 5px solid var(--ori-green);
}
@media (max-width: 992px) {
  #branding .logo {
    z-index: 10;
  }
  #branding .mobile-menu {
    position: absolute;
    padding: 0px;
  }
}
@media (min-width: 768px) {
  #branding .logo img {
    width: 125px;
    height: auto;
  }
}
#branding .navbar .navbar-toggler {
  border: 0px;
  margin: 0px 8px 0 0;
  padding: 0px;
  font-size: 150%;
  font-weight: 700;
}
#branding .navbar button:focus:not(:focus-visible) {
  box-shadow: unset;
}
@media (max-width: 992px) {
  #branding .navbar .container-fluid {
    justify-content: end;
    padding: 0;
  }
}
@media (max-width: 768px) {
  #branding .navbar .navbar-collapse {
    position: relative;
    top: 22px;
    background: linear-gradient(267deg, #491e1e, #7c3504);
    z-index: 99;
    padding: 1rem 1.5rem;
  }
}
#branding .navbar .navbar-collapse .navbar-nav {
  margin: 0px;
  padding: 0px;
}
#branding .navbar .navbar-collapse .navbar-nav li {
  font-weight: 600;
}
@media (max-width: 768px) {
  #branding .navbar .navbar-collapse .navbar-nav li {
    font-size: 105%;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a {
    color: #ffffff;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a:hover {
    color: var(--ori-green);
  }
  #branding .navbar .navbar-collapse .navbar-nav li a.active {
    color: var(--ori-green);
  }
}
@media (min-width: 768px) {
  #branding .navbar .navbar-collapse .navbar-nav li a {
    color: #000000;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a:hover {
    color: var(--ori-brown);
  }
  #branding .navbar .navbar-collapse .navbar-nav li a.active {
    color: var(--ori-brown);
  }
}
@media (min-width: 1200px) {
  #branding .navbar .navbar-collapse .navbar-nav li {
    font-size: 115%;
  }
}
#branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
#branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a {
  color: var(--ori-brown);
}
@media (min-width: 992px) {
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu {
    background: var(--ori-brown);
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li {
    margin: 0px;
    padding: 0px;
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a {
    color: #ffffff;
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a:hover {
    background-color: var(--ori-brown);
    color: var(--ori-green);
  }
}
#branding .social {
  border-left: 3px solid #000000;
}
#branding .social a {
  color: #000000;
}
#branding .social a:hover {
  color: var(--ori-green);
}
#branding .social i {
  margin: 0px 20px;
  font-size: 110%;
}
#slider {
  margin: 0px;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item {
  position: relative;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption {
  top: 20%;
  left: 5%;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text {
  border-top: 2px solid #f3f3f3;
  padding: 1.5rem;
  position: relative;
  text-align: left;
  z-index: 5;
}
@media (min-width: 768px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text {
    width: 60%;
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text {
    width: 45%;
    padding: 2.5rem;
  }
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.45;
  left: 0;
  top: 0;
  z-index: -1;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text h5 {
  color: #fff;
  font-weight: 600;
  font-size: 1.75rem;
}
@media (min-width: 992px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text h5 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text h5 span {
  color: var(--ori-green);
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text p {
  font-size: 120%;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
    height: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
    height: 580px;
  }
}
.block-title-style span {
  text-transform: uppercase;
  font-weight: 600;
  color: #7c7c7c;
  font-size: 95%;
  letter-spacing: 3px;
}
.block-title-style h2 {
  text-transform: capitalize;
  margin: 0.25rem 0 2rem;
}
@media (min-width: 768px) {
  .block-title-style h2 {
    margin: 0.25rem 0 2.7rem;
  }
}
.more-link {
  margin: 2rem 0 0;
}
.more-link a {
  border-radius: unset;
  border: 1px solid var(--ori-brown);
  color: var(--ori-brown);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2.5em;
  transition: 0.5s all ease-in-out;
  text-decoration: none;
  display: block;
  width: max-content;
}
#preface {
  background: url(../images/preface-bg.png) no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  #preface::before {
    content: "";
    position: absolute;
    background: linear-gradient(40deg, #000 -17%, transparent 60%);
    width: 100%;
    height: 100%;
    top: 0;
  }
}
#preface::after {
  content: "";
  position: absolute;
  background: linear-gradient(10deg, #000 25%, transparent 75%);
  opacity: 1.5;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
}
@media (min-width: 768px) {
  #preface::after {
    background: linear-gradient(4deg, #000 9%, transparent 54%);
  }
}
#preface .content {
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 10px 0px;
}
#preface .content span {
  text-transform: uppercase;
  font-weight: 500;
}
#preface .content h1 {
  font-weight: 700;
  padding: 10px 0 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #9d9d9d;
}
@media (min-width: 768px) {
  #preface .content h1 {
    width: 50%;
  }
}
#preface .content .breadcrumb {
  margin: 0px;
  padding: 0px;
  color: var(--ori-green);
}
#preface .content .breadcrumb li {
  color: var(--ori-green);
}
#preface .content .breadcrumb li a {
  color: var(--ori-green);
}
#preface .content .breadcrumb li a:hover {
  text-decoration: underline;
}
#preface h2 {
  margin-bottom: 1rem;
}
#preface p {
  font-size: 125%;
}
#preface .block-title-style {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #preface .block-title-style {
    padding-right: 2rem;
    margin: 0;
  }
}
#content-before {
  background: var(--ori-gray);
}
#content-before .expertise-grid {
  list-style: none;
  display: grid;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}
@media (min-width: 768px) {
  #content-before .expertise-grid {
    grid-template-columns: 1fr 1fr;
  }
}
#content-before .expertise-grid li {
  background: #ececec;
  padding-bottom: 1.5rem;
}
@media (min-width: 576px) {
  #content-before .expertise-grid li {
    display: flex;
    padding: 0;
  }
}
@media (min-width: 576px) {
  #content-before .expertise-grid li div.img {
    width: 65%;
    order: 2;
  }
}
@media (min-width: 768px) {
  #content-before .expertise-grid li div.img {
    width: 50%;
  }
}
#content-before .expertise-grid li div.img img {
  width: 100%;
  height: auto;
}
#content-before .expertise-grid li div.caption {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 576px) {
  #content-before .expertise-grid li div.caption {
    width: 35%;
    order: 1;
  }
}
@media (min-width: 768px) {
  #content-before .expertise-grid li div.caption {
    width: 50%;
    padding: 1.5rem;
  }
}
#content-before .expertise-grid li div.caption h3 {
  font-weight: 700;
}
#content-before .expertise-grid li div.caption a {
  color: #000000;
}
#content-before .expertise-grid li div.caption:hover a {
  color: var(--ori-green);
}
#content-before .expertise-grid li:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-before .expertise-grid li:hover a {
  color: var(--ori-green) !important;
}
#content-before .btn-brown:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-before h2,
#content-before .field__label {
  margin: 0.5rem 0 1.5rem;
  font-weight: 700;
  font-size: 2.3rem;
}
#content-before p {
  font-size: 130%;
}
#content-before p em {
  font-weight: 600;
  font-style: normal;
}
@media (min-width: 768px) {
  #content-before p {
    padding-right: 5rem;
  }
}
#content-before .contact-info h2 {
  margin-bottom: 0.5rem;
}
#content-before .contact-info h2 span {
  color: var(--ori-brown);
}
#content-before .contact-info h4 {
  font-weight: 600;
  margin: 2rem 0 1.5rem;
}
#content-before .contact-info p {
  font-size: 115%;
  padding: 0;
}
#content-before .contact-info p i {
  color: var(--ori-green);
  padding-right: 6px;
}
#content-before .contact-info p:nth-child(3),
#content-before .contact-info p:nth-child(4) {
  font-weight: 600;
}
#content-before .more-link {
  display: flex;
  justify-content: center;
}
#content-before .more-link a:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-before .nav-tabs {
  border: 0;
  gap: 0.5rem;
}
#content-before .nav-tabs li button {
  font-weight: 600;
  color: #838282;
}
#content-before .nav-tabs li .nav-link {
  border-radius: 5px;
  border: 0px;
  background: #e7e7e7;
  font-size: 105%;
}
#content-before .nav-tabs li .nav-link:hover {
  color: #333333;
}
#content-before .nav-tabs li .nav-link.active {
  color: var(--ori-brown);
  border: 0px;
  background: #ffffff;
}
@media (min-width: 992px) {
  #content-before .nav-tabs {
    display: initial;
  }
  #content-before .nav-tabs li {
    margin-bottom: 1rem;
  }
  #content-before .nav-tabs li button {
    width: 100%;
    text-align: left;
    padding: 1.25rem 2rem;
  }
  #content-before .nav-tabs li .nav-link {
    font-size: 120%;
  }
}
#content-before .tab-content {
  border-radius: 5px;
  background: #ffffff;
  padding: 1.25rem;
  margin: 0.5rem 0;
}
#content-before .tab-content .field__label {
  font-size: 1.65rem;
  font-weight: 600;
}
#content-before .tab-content img {
  width: 100%;
  height: auto;
}
#content-before .tab-content p {
  font-size: 120% !important;
}
#content-before .tab-content ul {
  list-style-type: square;
  font-size: 120%;
}
#content-before .tab-content ul li {
  line-height: 1.75rem;
}
@media (min-width: 992px) {
  #content-before .tab-wrapper {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  #content-before .tab-wrapper .tab-content {
    margin: 0;
    padding: 3.2rem 3.75rem;
  }
}
#main-content .expertise-grid,
#content-bottom .expertise-grid {
  list-style: none;
  display: grid;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}
@media (min-width: 768px) {
  #main-content .expertise-grid,
  #content-bottom .expertise-grid {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  #main-content .expertise-grid,
  #content-bottom .expertise-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#main-content .expertise-grid li,
#content-bottom .expertise-grid li {
  background: #dbdbdb;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  #main-content .expertise-grid li,
  #content-bottom .expertise-grid li {
    padding: 0;
  }
}
@media (min-width: 768px) {
  #main-content .expertise-grid li img,
  #content-bottom .expertise-grid li img {
    object-fit: cover;
    max-height: 230px;
    width: 100%;
  }
}
#main-content .expertise-grid li div.card-body,
#content-bottom .expertise-grid li div.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#main-content .expertise-grid li div.card-body h4,
#content-bottom .expertise-grid li div.card-body h4 {
  font-weight: 700;
}
#main-content .expertise-grid li div.card-body p,
#content-bottom .expertise-grid li div.card-body p {
  font-size: 105%;
}
#main-content .expertise-grid li div.card-body a,
#content-bottom .expertise-grid li div.card-body a {
  color: #000000;
}
#main-content .expertise-grid li div.card-body:hover a,
#content-bottom .expertise-grid li div.card-body:hover a {
  color: var(--ori-green);
}
#main-content .expertise-grid li:hover,
#content-bottom .expertise-grid li:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#main-content .expertise-grid li:hover a,
#content-bottom .expertise-grid li:hover a {
  color: var(--ori-green);
}
#main-content .expertise-grid li:hover h4 a,
#content-bottom .expertise-grid li:hover h4 a {
  color: #ffffff !important;
}
#main-content .grid,
#content-bottom .grid {
  list-style: none;
  display: grid;
  margin: 0 0 2rem;
  padding: 0px;
  gap: 1rem;
}
@media (min-width: 768px) {
  #main-content .grid,
  #content-bottom .grid {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  #main-content .grid,
  #content-bottom .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#main-content .grid li,
#content-bottom .grid li {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  #main-content .grid li,
  #content-bottom .grid li {
    padding: 0;
  }
}
@media (min-width: 768px) {
  #main-content .grid li img,
  #content-bottom .grid li img {
    object-fit: cover;
    max-height: 230px;
  }
}
#main-content .grid li div.card-body,
#content-bottom .grid li div.card-body {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#main-content .grid li div.card-body h4,
#content-bottom .grid li div.card-body h4 {
  font-weight: 700;
}
#main-content .grid li div.card-body p,
#content-bottom .grid li div.card-body p {
  font-size: 105%;
}
#main-content .grid li div.card-body a,
#content-bottom .grid li div.card-body a {
  color: #000000;
}
#main-content .grid li div.card-body:hover a,
#content-bottom .grid li div.card-body:hover a {
  color: var(--ori-green);
}
#main-content .grid li:hover a,
#content-bottom .grid li:hover a {
  color: var(--ori-green);
}
#main-content .grid li:hover h4 a,
#content-bottom .grid li:hover h4 a {
  color: var(--ori-brown) !important;
}
#main-content .client-grid,
#content-bottom .client-grid {
  list-style: none;
  display: grid;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}
@media (min-width: 768px) {
  #main-content .client-grid,
  #content-bottom .client-grid {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
#main-content .client-grid li,
#content-bottom .client-grid li {
  background: #ececec;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  #main-content .client-grid li,
  #content-bottom .client-grid li {
    padding: 0;
  }
}
@media (min-width: 768px) {
  #main-content .client-grid li img,
  #content-bottom .client-grid li img {
    object-fit: cover;
    max-height: 438px;
  }
}
#main-content .client-grid li div.card-body,
#content-bottom .client-grid li div.card-body {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
}
#main-content .client-grid li div.card-body h4,
#content-bottom .client-grid li div.card-body h4 {
  font-weight: 700;
}
#main-content .client-grid li div.card-body p,
#content-bottom .client-grid li div.card-body p {
  font-size: 105%;
}
#main-content .client-grid li div.card-body a,
#content-bottom .client-grid li div.card-body a {
  color: #000000;
}
#main-content .client-grid li div.card-body:hover a,
#content-bottom .client-grid li div.card-body:hover a {
  color: var(--ori-green);
}
#main-content .client-grid li:hover a,
#content-bottom .client-grid li:hover a {
  color: var(--ori-green);
}
#main-content .client-grid li:hover h4 a,
#content-bottom .client-grid li:hover h4 a {
  color: #000000 !important;
}
#main-content h2,
#content-bottom h2 {
  margin-bottom: 2rem;
}
#main-content .contact-form,
#content-bottom .contact-form {
  padding: 1.5em;
  background: #fff;
  box-shadow: 2px 8px 24px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 8px 24px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 8px 24px 0px rgba(0, 0, 0, 0.05);
  border-top: 5px solid var(--ori-green);
}
@media (min-width: 768px) {
  #main-content .contact-form,
  #content-bottom .contact-form {
    margin: 7rem auto 4rem;
    padding: 1.5rem 2.5rem;
    width: 75%;
  }
}
#main-content .contact-form h3,
#content-bottom .contact-form h3 {
  text-align: center;
  font-weight: 600;
}
#main-content .contact-form form,
#content-bottom .contact-form form {
  margin: 2rem 0 1rem;
}
#main-content .contact-form form .webform-elements,
#content-bottom .contact-form form .webform-elements {
  gap: 1rem;
}
#main-content .contact-form form .form-control,
#content-bottom .contact-form form .form-control {
  border-radius: unset;
  width: 100%;
  border: none;
  background-color: var(--ori-form-element);
  padding: 0.5em 1em;
}
#main-content .contact-form form .form-actions,
#content-bottom .contact-form form .form-actions {
  text-align: center;
  padding-top: 1rem;
}
#main-content .contact-form form .webform-button--submit,
#content-bottom .contact-form form .webform-button--submit {
  border-radius: unset;
  color: #fff;
  background: var(--ori-brown);
  box-shadow: none;
  border: none;
  padding: 0.5em 1.2em;
  font-weight: 600;
  width: 175px;
}
#main-content article .node-share,
#content-bottom article .node-share {
  padding: 0.95rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
  gap: 10px;
}
#main-content article .node-share span,
#content-bottom article .node-share span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #999999;
}
#main-content article .node-share a,
#content-bottom article .node-share a {
  border: 1px solid #999999;
  height: 36px;
  width: 36px;
  font-size: 110%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
#main-content article .node-share a i,
#content-bottom article .node-share a i {
  margin: 0px;
  padding: 0px;
}
#main-content article .node-share a:hover,
#content-bottom article .node-share a:hover {
  background-color: var(--ori-green);
}
#main-content article .node-share a:hover i,
#content-bottom article .node-share a:hover i {
  color: #ffffff;
}
#main-content article p,
#content-bottom article p {
  font-size: 120%;
}
#main-content article img,
#content-bottom article img {
  width: 100%;
  height: auto;
}
#main-content article ul,
#content-bottom article ul {
  list-style-type: square;
  font-size: 120%;
}
#main-content article ul li,
#content-bottom article ul li {
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  #main-content article .node-share,
  #content-bottom article .node-share,
  #main-content article .page,
  #content-bottom article .page {
    width: 78%;
    margin: 0 auto 1rem;
  }
}
@media (min-width: 768px) {
  #main-content article .page,
  #content-bottom article .page {
    margin-top: 2.5rem;
  }
}
#main-content article .case-study .field__label,
#content-bottom article .case-study .field__label {
  font-weight: 600;
  padding: 5px 0 15px;
  font-size: 1.35rem;
}
#main-content article .case-study .field--name-body .field__label,
#content-bottom article .case-study .field--name-body .field__label {
  font-size: 1.85rem;
  font-weight: 900;
}
#main-content article .case-study .field__items,
#content-bottom article .case-study .field__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#main-content article .case-study .field__items .field__item,
#content-bottom article .case-study .field__items .field__item {
  background: #e5ffa0;
  padding: 5px 10px;
  font-size: 85%;
  font-weight: 600;
}
#main-content article .case-study .field__items .field__item a,
#content-bottom article .case-study .field__items .field__item a {
  color: #5d5a5a;
}
#main-content article .case-study .field__items .field__item a:hover,
#content-bottom article .case-study .field__items .field__item a:hover {
  color: #000000;
}
#mc_embed_signup_scroll {
  color: #ffffff;
}
#mc_embed_signup_scroll .indicates-required,
#mc_embed_signup_scroll label {
  display: none;
}
#mc_embed_signup_scroll input {
  border-radius: unset;
  width: 100%;
  border: none;
  background-color: var(--ori-form-element);
  padding: 0.35em 1em;
  margin-bottom: 0.75rem;
}
#mc_embed_signup_scroll input.button {
  width: 180px;
  background: var(--ori-brown);
  color: #ffffff;
  font-weight: 600;
}
#content-after {
  background: var(--ori-brown);
  padding: 3rem 0;
}
@media (min-width: 768px) {
  #content-after {
    background: linear-gradient(90deg, var(--ori-brown) 50%, #ececec 10%);
  }
}
#content-after p {
  line-height: 1.9rem;
}
#content-after .btn-green {
  border-color: #ffffff;
  color: #ffffff;
}
#content-after .btn-green:hover {
  background-color: var(--ori-green);
  border: 1px solid var(--ori-green);
}
#content-after ul.practice-list {
  list-style: none;
  display: grid;
  margin: 2.5rem 0 0 0px;
  padding: 0px;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  #content-after ul.practice-list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
#content-after ul.practice-list li {
  position: relative;
}
#content-after ul.practice-list li img {
  width: 100%;
  height: auto;
}
#content-after ul.practice-list li div {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #111010);
  top: 65%;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 1rem 1.5rem;
}
#content-after ul.practice-list li div h3 {
  font-weight: 600;
}
#content-after ul.practice-list li div a {
  color: var(--ori-green);
}
#news-updates,
#main-content {
  padding: 0;
}
#news-updates .case-nav .nav-item,
#main-content .case-nav .nav-item {
  background: var(--ori-gray);
  font-weight: 600;
}
#news-updates .case-nav .nav-item a,
#main-content .case-nav .nav-item a {
  color: #000000;
  font-size: 120%;
  font-size: 110%;
  padding: 0.75rem 2rem;
  border-radius: 0;
}
#news-updates .case-nav .nav-item a:hover,
#main-content .case-nav .nav-item a:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#news-updates .case-nav .nav-item a.active,
#main-content .case-nav .nav-item a.active {
  background-color: var(--ori-green);
  color: #ffffff;
}
#news-updates .newslist,
#main-content .newslist {
  list-style: none;
  display: grid;
  padding: 0px;
  margin: 0px;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  #news-updates .newslist,
  #main-content .newslist {
    grid-template-columns: 1fr 1fr;
  }
}
#news-updates .newslist li,
#main-content .newslist li {
  background-color: #f2f2f2;
}
#news-updates .newslist li img,
#main-content .newslist li img {
  width: 100%;
  height: auto;
}
#news-updates .newslist li div.body,
#main-content .newslist li div.body {
  padding: 1.5rem;
}
#news-updates .newslist li div.body span,
#main-content .newslist li div.body span {
  color: var(--ori-green);
}
#news-updates .newslist li div.body h3,
#main-content .newslist li div.body h3 {
  font-weight: 600;
}
#news-updates .newslist li div.body p,
#main-content .newslist li div.body p {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 1rem;
}
#news-updates .newslist li div.body a,
#main-content .newslist li div.body a {
  font-weight: 500;
  font-size: 90%;
  color: var(--ori-brown);
}
@media (min-width: 576px) {
  #news-updates .newslist li,
  #main-content .newslist li {
    display: flex;
  }
  #news-updates .newslist li div.img,
  #main-content .newslist li div.img {
    width: 40%;
  }
  #news-updates .newslist li div.img img,
  #main-content .newslist li div.img img {
    width: initial;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #news-updates .newslist li div.body,
  #main-content .newslist li div.body {
    width: 60%;
  }
}
#news-updates .btn-brown,
#main-content .btn-brown {
  border: 1px solid #000000;
}
#news-updates .btn-brown:hover,
#main-content .btn-brown:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
  border-color: var(--ori-brown);
}
#content-bottom .publications {
  background: var(--ori-gray);
}
#content-bottom .publications .pub-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}
@media (min-width: 576px) {
  #content-bottom .publications .pub-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  #content-bottom .publications .pub-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#content-bottom .publications .pub-list li {
  display: flex;
  gap: 1rem;
}
@media (min-width: 576px) {
  #content-bottom .publications .pub-list li {
    flex-direction: column;
  }
}
#content-bottom .publications .pub-list li div.img {
  position: relative;
  padding: 0 0 0 5px;
}
#content-bottom .publications .pub-list li div.img span {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: #bcee3a;
  color: #000000;
  padding: 0px 10px;
  font-size: 85%;
  font-weight: 600;
}
#content-bottom .publications .pub-list li div.img img {
  width: 105px;
  height: 124px;
  object-fit: cover;
  border: 1px solid #dddbdb;
}
@media (min-width: 768px) {
  #content-bottom .publications .pub-list li div.img img {
    width: 100%;
    height: 410px;
  }
}
#content-bottom .publications .pub-list li div.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px;
}
#content-bottom .publications .pub-list li div.title h3 {
  font-weight: 600;
  font-size: 115%;
}
@media (min-width: 768px) {
  #content-bottom .publications .pub-list li div.title h3 {
    font-size: 130%;
    margin-bottom: 1.5rem;
  }
}
#content-bottom .publications .pub-list li div.title .links {
  text-transform: uppercase;
  font-size: 85%;
  font-weight: 600;
}
#content-bottom .publications .pub-list li div.title .links a {
  display: inline-block;
  padding: 0 15px 0 0;
  color: var(--ori-brown);
}
#content-bottom .publications .pub-list li div.title .links a:nth-child(2) {
  color: var(--ori-green);
}
#content-bottom .insights h2 {
  margin-bottom: 2rem;
}
.aboutus-wrap {
  background: linear-gradient(to bottom, var(--ori-gray) 250px, #ffffff 250px);
}
.aboutus-wrap .history-block {
  -webkit-box-shadow: 0px 2px 7px 3px #c7c7c7;
  -moz-box-shadow: 0px 2px 7px 3px #c7c7c7;
  box-shadow: 0px 2px 7px 3px #c7c7c7;
  margin: 0rem 0.75rem;
}
@media (min-width: 768px) {
  .aboutus-wrap .history-block {
    margin: 0px;
    display: flex;
  }
}
.aboutus-wrap .history-block h2 {
  background: url(../images/globe.jpg) no-repeat;
  color: #ffffff;
  padding: 1rem;
  background-size: cover;
  margin: 0px !important;
}
@media (min-width: 768px) {
  .aboutus-wrap .history-block h2 {
    margin-bottom: 0;
    width: 30%;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .aboutus-wrap .history-block h2 span {
    display: block;
    width: 40%;
  }
}
.aboutus-wrap .history-block .content {
  background-color: #ffffff;
  padding: 1rem;
}
.aboutus-wrap .history-block .content p {
  font-size: 110%;
}
@media (min-width: 768px) {
  .aboutus-wrap .history-block .content {
    width: 70%;
    padding: 4rem 5rem;
  }
  .aboutus-wrap .history-block .content p {
    font-size: 112%;
  }
}
.aboutus-wrap .countries p {
  margin: 1rem 1.5rem;
}
@media (min-width: 768px) {
  .aboutus-wrap .countries p {
    margin: 1rem 10rem;
  }
}
.aboutus-wrap .countries img {
  padding: 0px 1.5rem;
}
.aboutus-wrap .leadership .grid {
  display: grid;
  gap: 1rem;
  list-style: none;
  margin-top: 2rem;
}
@media (min-width: 576px) {
  .aboutus-wrap .leadership .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .aboutus-wrap .leadership .grid {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .aboutus-wrap .leadership .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.aboutus-wrap .leadership .grid li {
  background-color: var(--ori-gray);
  display: flex;
}
.aboutus-wrap .leadership .grid li img {
  width: 150px;
  height: auto;
}
.aboutus-wrap .leadership .grid li .title {
  padding: 1rem;
  flex-grow: 1;
}
.aboutus-wrap .leadership .grid li .title h3 {
  font-weight: 600;
  font-size: 125%;
}
.aboutus-wrap .leadership .grid li .title h3:hover {
  color: var(--ori-green);
}
.aboutus-wrap .leadership .grid li .title h3 a {
  color: #000000;
}
.aboutus-wrap .leadership .grid li .title h3 a:hover {
  color: var(--ori-green);
}
@media (min-width: 576px) {
  .aboutus-wrap .leadership .grid li {
    flex-direction: column;
  }
  .aboutus-wrap .leadership .grid li img {
    width: 100%;
    height: auto;
  }
}
body.path-frontpage #preface {
  background: url(../images/logo-accent.png) no-repeat;
  background-position: -70% -3%;
  background-size: 80%;
}
@media (min-width: 768px) {
  body.path-frontpage #preface {
    background-position: -10% -5%;
    background-size: initial;
  }
}
body.path-frontpage #preface .btn-brown {
  background-color: var(--ori-brown);
  color: #ffffff;
}
body.path-frontpage #preface .btn-brown:hover {
  background-color: var(--ori-green);
  color: #000000;
  border-color: var(--ori-green);
}
body.path-frontpage #preface::before,
body.path-frontpage #preface::after {
  content: none;
}
body.path-frontpage #content-before {
  background: none;
}
@media (min-width: 768px) {
  #map iframe {
    min-height: 500px;
  }
}
#footer {
  background-color: var(--ori-light-gray);
}
#footer h2 {
  font-size: 1.02rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
#footer p {
  color: #939191;
}
#footer p:nth-child(3),
#footer p:nth-child(4) {
  color: #e0e0e0;
  margin: 0 0 7px;
}
#footer p:nth-child(3) i,
#footer p:nth-child(4) i {
  color: var(--ori-green);
  padding-right: 6px;
}
#footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer ul li a {
  color: #939191;
}
#copyright {
  background-color: var(--ori-dark-gray);
  color: #939191;
}
#copyright p {
  margin: 0px;
  padding: 0px;
  font-size: 93%;
}
#copyright a {
  color: var(--ori-green);
}
#copyright i {
  margin: 0 15px;
}
