:root {
  --ori-brown: #7c3504;
  --ori-green: #93c01f;
  --ori-light-gray: #343434;
  --ori-dark-gray: #2d2d2d;
  --ori-gray: #f2f2f2;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  border: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a i {
  margin-left: 5px;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
}
h2 {
  font-weight: 700;
  font-size: 2.3rem;
}
h3 {
  font-size: 1.5rem;
}
.btn {
  border: 1px solid var(--ori-brown);
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 600;
  outline: none;
  box-shadow: none;
}
#branding {
  border-top: 5px solid var(--ori-green);
}
@media (max-width: 992px) {
  #branding .logo {
    z-index: 10;
  }
  #branding .mobile-menu {
    position: absolute;
    padding: 0px;
  }
}
@media (min-width: 768px) {
  #branding .logo img {
    width: 125px;
    height: auto;
  }
}
#branding .navbar .navbar-toggler {
  border: 0px;
  margin: 0px 8px 0 0;
  padding: 0px;
  font-size: 150%;
  font-weight: 700;
}
#branding .navbar button:focus:not(:focus-visible) {
  box-shadow: unset;
}
@media (max-width: 992px) {
  #branding .navbar .container-fluid {
    justify-content: end;
    padding: 0;
  }
}
@media (max-width: 768px) {
  #branding .navbar .navbar-collapse {
    position: relative;
    top: 12px;
    background: linear-gradient(267deg, #491e1e, #7c3504);
    z-index: 99;
    padding: 1rem 1.5rem;
  }
}
#branding .navbar .navbar-collapse .navbar-nav {
  margin: 0px;
  padding: 0px;
}
#branding .navbar .navbar-collapse .navbar-nav li {
  font-weight: 600;
}
@media (max-width: 768px) {
  #branding .navbar .navbar-collapse .navbar-nav li {
    font-size: 105%;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a {
    color: #ffffff;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a:hover {
    color: var(--ori-green);
  }
  #branding .navbar .navbar-collapse .navbar-nav li a.active {
    color: var(--ori-green);
  }
}
@media (min-width: 768px) {
  #branding .navbar .navbar-collapse .navbar-nav li a {
    color: #000000;
  }
  #branding .navbar .navbar-collapse .navbar-nav li a:hover {
    color: var(--ori-brown);
  }
  #branding .navbar .navbar-collapse .navbar-nav li a.active {
    color: var(--ori-brown);
  }
}
@media (min-width: 1200px) {
  #branding .navbar .navbar-collapse .navbar-nav li {
    font-size: 115%;
  }
}
#branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
#branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a {
  color: var(--ori-brown);
}
@media (min-width: 992px) {
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu {
    background: var(--ori-brown);
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li {
    margin: 0px;
    padding: 0px;
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a {
    color: #ffffff;
  }
  #branding .navbar .navbar-collapse .navbar-nav li .dropdown-menu li a:hover {
    background-color: var(--ori-brown);
    color: var(--ori-green);
  }
}
#branding .social {
  border-left: 3px solid #000000;
}
#branding .social a {
  color: #000000;
}
#branding .social a:hover {
  color: var(--ori-green);
}
#branding .social i {
  margin: 0px 20px;
  font-size: 110%;
}
#slider {
  margin: 0px;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item {
  position: relative;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption {
  top: 20%;
  left: 5%;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text {
  border-top: 2px solid #b9b9b9;
  padding: 1.5rem;
  position: relative;
  text-align: left;
  z-index: 5;
}
@media (min-width: 768px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text {
    width: 60%;
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text {
    width: 45%;
    padding: 2.5rem;
  }
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.45;
  left: 0;
  top: 0;
  z-index: -1;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text h5 {
  color: #fff;
  font-weight: 600;
  font-size: 1.75rem;
}
@media (min-width: 992px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text h5 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text h5 span {
  color: var(--ori-green);
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item .carousel-caption .slide-text p {
  font-size: 120%;
}
#slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
    height: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  #slider #carouselExampleSlidesOnly .carousel-inner div.carousel-item img {
    height: 580px;
  }
}
.block-title-style span {
  text-transform: uppercase;
  font-weight: 600;
  color: #7c7c7c;
  font-size: 95%;
  letter-spacing: 3px;
}
.block-title-style h2 {
  text-transform: capitalize;
  margin: 0.25rem 0 2rem;
}
@media (min-width: 768px) {
  .block-title-style h2 {
    margin: 0.25rem 0 2.7rem;
  }
}
#preface {
  background: url(../images/preface-bg.png) no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  #preface::before {
    content: "";
    position: absolute;
    background: linear-gradient(40deg, #000 -17%, transparent 60%);
    width: 100%;
    height: 100%;
    top: 0;
  }
}
#preface::after {
  content: "";
  position: absolute;
  background: linear-gradient(10deg, #000 25%, transparent 75%);
  opacity: 1.5;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
}
@media (min-width: 768px) {
  #preface::after {
    background: linear-gradient(4deg, #000 9%, transparent 54%);
  }
}
#preface .content {
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 10px 0px;
}
#preface .content span {
  text-transform: uppercase;
  font-weight: 500;
}
#preface .content h1 {
  font-weight: 700;
  padding: 10px 0 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #9d9d9d;
}
@media (min-width: 768px) {
  #preface .content h1 {
    width: 50%;
  }
}
#preface .content .breadcrumb {
  margin: 0px;
  padding: 0px;
  color: var(--ori-green);
}
#preface .content .breadcrumb li {
  color: var(--ori-green);
}
#preface .content .breadcrumb li a {
  color: var(--ori-green);
}
#preface .content .breadcrumb li a:hover {
  text-decoration: underline;
}
#preface h2 {
  margin-bottom: 1rem;
}
#preface p {
  font-size: 125%;
}
#preface .block-title-style {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #preface .block-title-style {
    padding-right: 2rem;
    margin: 0;
  }
}
#content-before {
  background: var(--ori-gray);
}
#content-before .expertise-grid {
  list-style: none;
  display: grid;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}
@media (min-width: 768px) {
  #content-before .expertise-grid {
    grid-template-columns: 1fr 1fr;
  }
}
#content-before .expertise-grid li {
  background: #ececec;
  padding-bottom: 1.5rem;
}
@media (min-width: 576px) {
  #content-before .expertise-grid li {
    display: flex;
    padding: 0;
  }
}
@media (min-width: 576px) {
  #content-before .expertise-grid li div.img {
    width: 65%;
    order: 2;
  }
}
@media (min-width: 768px) {
  #content-before .expertise-grid li div.img {
    width: 50%;
  }
}
#content-before .expertise-grid li div.img img {
  width: 100%;
  height: auto;
}
#content-before .expertise-grid li div.caption {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 576px) {
  #content-before .expertise-grid li div.caption {
    width: 35%;
    order: 1;
  }
}
@media (min-width: 768px) {
  #content-before .expertise-grid li div.caption {
    width: 50%;
    padding: 1.5rem;
  }
}
#content-before .expertise-grid li div.caption h3 {
  font-weight: 700;
}
#content-before .expertise-grid li div.caption a {
  color: #000000;
}
#content-before .expertise-grid li div.caption:hover a {
  color: var(--ori-green);
}
#content-before .expertise-grid li:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-before .expertise-grid li:hover a {
  color: var(--ori-green) !important;
}
#content-before .btn-brown:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
}
#content-before h2 {
  margin: 0.5rem 0 1.5rem;
}
#content-before p {
  font-size: 130%;
}
#content-before p em {
  font-weight: 600;
  font-style: normal;
}
@media (min-width: 768px) {
  #content-before p {
    padding-right: 5rem;
  }
}
#content-after {
  background: var(--ori-brown);
  padding: 3rem 0;
}
@media (min-width: 768px) {
  #content-after {
    background: linear-gradient(90deg, var(--ori-brown) 50%, #ececec 10%);
  }
}
#content-after p {
  line-height: 1.9rem;
}
#content-after .btn-green {
  border-color: #ffffff;
  color: #ffffff;
}
#content-after .btn-green:hover {
  background-color: var(--ori-green);
  border: 1px solid var(--ori-green);
}
#content-after ul.practice-list {
  list-style: none;
  display: grid;
  margin: 2.5rem 0 0 0px;
  padding: 0px;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  #content-after ul.practice-list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
#content-after ul.practice-list li {
  position: relative;
}
#content-after ul.practice-list li img {
  width: 100%;
  height: auto;
}
#content-after ul.practice-list li div {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #111010);
  top: 65%;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 1rem 1.5rem;
}
#content-after ul.practice-list li div h3 {
  font-weight: 600;
}
#content-after ul.practice-list li div a {
  color: var(--ori-green);
}
#news-updates {
  padding: 0;
}
#news-updates .newslist {
  list-style: none;
  display: grid;
  padding: 0px;
  margin: 0px;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  #news-updates .newslist {
    grid-template-columns: 1fr 1fr;
  }
}
#news-updates .newslist li {
  background-color: #f2f2f2;
}
#news-updates .newslist li img {
  width: 100%;
  height: auto;
}
#news-updates .newslist li div.body {
  padding: 1.5rem;
}
#news-updates .newslist li div.body span {
  color: var(--ori-green);
}
#news-updates .newslist li div.body h3 {
  font-weight: 600;
}
#news-updates .newslist li div.body p {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 1rem;
}
#news-updates .newslist li div.body a {
  font-weight: 500;
  font-size: 90%;
  color: var(--ori-brown);
}
@media (min-width: 576px) {
  #news-updates .newslist li {
    display: flex;
  }
  #news-updates .newslist li div.img {
    width: 40%;
  }
  #news-updates .newslist li div.img img {
    width: initial;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #news-updates .newslist li div.body {
    width: 60%;
  }
}
#news-updates .btn-brown {
  border: 1px solid #000000;
}
#news-updates .btn-brown:hover {
  background-color: var(--ori-brown);
  color: #ffffff;
  border-color: var(--ori-brown);
}
.aboutus-wrap {
  background: linear-gradient(to bottom, var(--ori-gray) 250px, #ffffff 250px);
}
.aboutus-wrap .history-block {
  -webkit-box-shadow: 0px 2px 7px 3px #c7c7c7;
  -moz-box-shadow: 0px 2px 7px 3px #c7c7c7;
  box-shadow: 0px 2px 7px 3px #c7c7c7;
  margin: 0rem 0.75rem;
}
@media (min-width: 768px) {
  .aboutus-wrap .history-block {
    margin: 0px;
    display: flex;
  }
}
.aboutus-wrap .history-block h2 {
  background: url(../images/globe.jpg) no-repeat;
  color: #ffffff;
  padding: 1rem;
  background-size: cover;
  margin: 0px;
}
@media (min-width: 768px) {
  .aboutus-wrap .history-block h2 {
    width: 30%;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .aboutus-wrap .history-block h2 span {
    display: block;
    width: 40%;
  }
}
.aboutus-wrap .history-block .content {
  background-color: #ffffff;
  padding: 1rem;
}
.aboutus-wrap .history-block .content p {
  font-size: 110%;
}
@media (min-width: 768px) {
  .aboutus-wrap .history-block .content {
    width: 70%;
    padding: 4rem 5rem;
  }
  .aboutus-wrap .history-block .content p {
    font-size: 112%;
  }
}
body.front #preface {
  background: url(../images/logo-accent.png) no-repeat;
  background-position: -70% -3%;
  background-size: 80%;
}
@media (min-width: 768px) {
  body.front #preface {
    background-position: -10% -5%;
    background-size: initial;
  }
}
body.front #preface .btn-brown {
  background-color: var(--ori-brown);
  color: #ffffff;
}
body.front #preface .btn-brown:hover {
  background-color: var(--ori-green);
  color: #000000;
  border-color: var(--ori-green);
}
body.front #preface::before,
body.front #preface::after {
  content: none;
}
body.front #content-before {
  background: none;
}
#footer {
  background-color: var(--ori-light-gray);
}
#footer h2 {
  font-size: 1.02rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
#footer p {
  color: #939191;
}
#footer p:nth-child(3),
#footer p:nth-child(4) {
  color: #e0e0e0;
  margin: 0 0 7px;
}
#footer p:nth-child(3) i,
#footer p:nth-child(4) i {
  color: var(--ori-green);
  padding-right: 6px;
}
#footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer ul li a {
  color: #939191;
}
#copyright {
  background-color: var(--ori-dark-gray);
  color: #939191;
}
#copyright p {
  margin: 0px;
  padding: 0px;
  font-size: 93%;
}
#copyright a {
  color: var(--ori-green);
}
#copyright i {
  margin: 0 15px;
}
