:root {
  --ori-brown: #7c3504;
  --ori-green: #93c01f;
  --ori-light-gray: #343434;
  --ori-dark-gray: #2d2d2d;
  --ori-gray: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  border: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  i {
    margin-left: 5px;
  }
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-weight: 700;
  font-size: 2.3rem;
}

h3 {
  font-size: 1.5rem;
}

.btn {
  border: 1px solid var(--ori-brown);
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 600;
  outline: none;
  box-shadow: none;
}

#branding {
  border-top: 5px solid var(--ori-green);

  @media (max-width: 992px) {
    .logo {
      z-index: 10;
    }

    .mobile-menu {
      position: absolute;
      padding: 0px;
    }
  }

  @media (min-width: 768px) {
    .logo {
      img {
        width: 125px;
        height: auto;
      }
    }
  }

  .navbar {
    .navbar-toggler {
      border: 0px;
      margin: 0px 8px 0 0;
      padding: 0px;
      font-size: 150%;
      font-weight: 700;
    }

    button:focus:not(:focus-visible) {
      box-shadow: unset;
    }

    // position the mobile responsive menu
    .container-fluid {
      @media (max-width: 992px) {
        justify-content: end;
        padding: 0;
      }
    }

    .navbar-collapse {
      @media (max-width: 768px) {
        position: relative;
        top: 12px;
        background: linear-gradient(267deg, #491e1e, #7c3504);
        z-index: 99;
        padding: 1rem 1.5rem;
      }

      .navbar-nav {
        margin: 0px;
        padding: 0px;

        li {
          font-weight: 600;
          //menu on mobile devices
          @media (max-width: 768px) {
            font-size: 105%;
            a {
              color: #ffffff;
              &:hover {
                color: var(--ori-green);
              }
            }

            a.active {
              color: var(--ori-green);
            }
          }
          // mene on tablets and above
          @media (min-width: 768px) {
            a {
              color: #000000;
              &:hover {
                color: var(--ori-brown);
              }
            }

            a.active {
              color: var(--ori-brown);
            }
          }

          // menu on wide screnes
          @media (min-width: 1200px) {
            font-size: 115%;
          }

          .dropdown-menu {
            border-radius: 0px;
            li {
              a {
                color: var(--ori-brown);
              }
            }

            @media (min-width: 992px) {
              background: var(--ori-brown);

              li {
                margin: 0px;
                padding: 0px;
                a {
                  color: #ffffff;
                }

                a:hover {
                  background-color: var(--ori-brown);
                  color: var(--ori-green);
                }
              }
            }
          }
        }
      }
    }
  }

  .social {
    border-left: 3px solid #000000;

    a {
      color: #000000;
    }

    a:hover {
      color: var(--ori-green);
    }

    i {
      margin: 0px 20px;
      font-size: 110%;
    }
  }
}

#slider {
  margin: 0px;

  #carouselExampleSlidesOnly {
    .carousel-inner {
      div.carousel-item {
        position: relative;

        .carousel-caption {
          top: 20%;
          left: 5%;

          .slide-text {
            border-top: 2px solid #b9b9b9;
            padding: 1.5rem;
            position: relative;
            text-align: left;
            z-index: 5;

            @media (min-width: 768px) {
              width: 60%;
              padding: 2rem;
            }

            @media (min-width: 992px) {
              width: 45%;
              padding: 2.5rem;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #000;
              opacity: 0.45;
              left: 0;
              top: 0;
              z-index: -1;
            }

            h5 {
              color: #fff;
              font-weight: 600;
              font-size: 1.75rem;

              @media (min-width: 992px) {
                font-size: 2rem;
                padding-bottom: 1rem;
              }

              span {
                color: var(--ori-green);
              }
            }

            p {
              font-size: 120%;
            }
          }
        }

        img {
          height: 500px;
          width: 100%;
          object-fit: cover;

          @media only screen and (min-width: 992px) {
            height: 550px;
          }

          @media only screen and (min-width: 1200px) {
            height: 580px;
          }
        }
      }
    }
  }
}

.block-title-style {
  span {
    text-transform: uppercase;
    font-weight: 600;
    color: #7c7c7c;
    font-size: 95%;
    letter-spacing: 3px;
  }

  h2 {
    text-transform: capitalize;
    margin: 0.25rem 0 2rem;

    @media (min-width: 768px) {
      margin: 0.25rem 0 2.7rem;
    }
  }
}

#preface {
  background: url(../images/preface-bg.png) no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: 768px) {
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(40deg, #000 -17%, transparent 60%);
      width: 100%;
      height: 100%;
      top: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(10deg, #000 25%, transparent 75%);
    opacity: 1.5;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 0;

    @media (min-width: 768px) {
      background: linear-gradient(4deg, #000 9%, transparent 54%);
    }
  }

  .content {
    color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 10px 0px;

    span {
      text-transform: uppercase;
      font-weight: 500;
    }

    h1 {
      font-weight: 700;
      padding: 10px 0 25px;
      margin-bottom: 20px;
      border-bottom: 1px solid #9d9d9d;

      @media (min-width: 768px) {
        width: 50%;
      }
    }

    .breadcrumb {
      margin: 0px;
      padding: 0px;
      color: var(--ori-green);
      li {
        color: var(--ori-green);
        a {
          color: var(--ori-green);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  h2 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 125%;
  }

  .block-title-style {
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      padding-right: 2rem;
      margin: 0;
    }
  }
}

#content-before {
  background: var(--ori-gray);

  .expertise-grid {
    list-style: none;
    display: grid;
    margin: 0px;
    padding: 0px;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    li {
      background: #ececec;
      padding-bottom: 1.5rem;

      @media (min-width: 576px) {
        display: flex;
        padding: 0;
      }

      div.img {
        @media (min-width: 576px) {
          width: 65%;
          order: 2;
        }

        @media (min-width: 768px) {
          width: 50%;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      div.caption {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 576px) {
          width: 35%;
          order: 1;
        }

        @media (min-width: 768px) {
          width: 50%;
          padding: 1.5rem;
        }

        h3 {
          font-weight: 700;
        }

        a {
          color: #000000;
        }

        &:hover {
          a {
            color: var(--ori-green);
          }
        }
      }

      &:hover {
        background-color: var(--ori-brown);
        color: #ffffff;

        a {
          color: var(--ori-green) !important;
        }
      }
    }
  }

  .btn-brown {
    &:hover {
      background-color: var(--ori-brown);
      color: #ffffff;
    }
  }

  h2 {
    margin: 0.5rem 0 1.5rem;
  }
  p {
    font-size: 130%;

    em {
      font-weight: 600;
      font-style: normal;
    }

    @media (min-width: 768px) {
      padding-right: 5rem;
    }
  }
}

#main-content,
#content-bottom {
  .expertise-grid {
    list-style: none;
    display: grid;
    margin: 0px;
    padding: 0px;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      background: #ececec;
      padding-bottom: 1.5rem;
      display: flex;
      flex-direction: column;

      @media (min-width: 576px) {
        padding: 0;
      }

      @media (min-width: 768px) {
        img {
          object-fit: cover;
          max-height: 230px;
        }
      }

      div.card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h4 {
          font-weight: 700;
        }

        p {
          font-size: 105%;
        }

        a {
          color: #000000;
        }

        &:hover {
          a {
            color: var(--ori-green);
          }
        }
      }

      &:hover {
        background-color: var(--ori-brown);
        color: #ffffff;
        a {
          color: var(--ori-green);
        }

        h4 {
          a {
            color: #ffffff !important;
          }
        }
      }
    }
  }
}

#content-after {
  background: var(--ori-brown);
  padding: 3rem 0;

  @media (min-width: 768px) {
    background: linear-gradient(90deg, var(--ori-brown) 50%, #ececec 10%);
  }

  p {
    line-height: 1.9rem;
  }

  .btn-green {
    border-color: #ffffff;
    color: #ffffff;
    &:hover {
      background-color: var(--ori-green);
      border: 1px solid var(--ori-green);
    }
  }

  ul.practice-list {
    list-style: none;
    display: grid;
    margin: 2.5rem 0 0 0px;
    padding: 0px;
    gap: 2.5rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      margin: 0;
    }

    li {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }

      div {
        position: absolute;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 0, 0, 0),
          #111010
        );
        top: 65%;
        width: 100%;
        bottom: 0;
        color: #fff;
        padding: 1rem 1.5rem;

        h3 {
          font-weight: 600;
        }

        a {
          color: var(--ori-green);
        }
      }
    }
  }
}

#news-updates,
#main-content {
  padding: 0;

  .newslist {
    list-style: none;
    display: grid;
    padding: 0px;
    margin: 0px;
    gap: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    li {
      background-color: #f2f2f2;

      img {
        width: 100%;
        height: auto;
      }

      div.body {
        padding: 1.5rem;

        span {
          color: var(--ori-green);
        }

        h3 {
          font-weight: 600;
        }

        p {
          border-bottom: 1px solid #cccccc;
          padding: 0 0 1rem;
        }

        a {
          font-weight: 500;
          font-size: 90%;
          color: var(--ori-brown);
        }
      }

      @media (min-width: 576px) {
        display: flex;

        div.img {
          width: 40%;

          img {
            width: initial;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        div.body {
          width: 60%;
        }
      }
    }
  }

  .btn-brown {
    border: 1px solid #000000;

    &:hover {
      background-color: var(--ori-brown);
      color: #ffffff;
      border-color: var(--ori-brown);
    }
  }
}

#content-bottom {
  .publications {
    background: var(--ori-gray);
  }
  .insights {
    h2 {
      margin-bottom: 2rem;
    }
  }
}

.aboutus-wrap {
  background: linear-gradient(to bottom, var(--ori-gray) 250px, #ffffff 250px);

  .history-block {
    -webkit-box-shadow: 0px 2px 7px 3px rgba(199, 199, 199, 1);
    -moz-box-shadow: 0px 2px 7px 3px rgba(199, 199, 199, 1);
    box-shadow: 0px 2px 7px 3px rgba(199, 199, 199, 1);
    margin: 0rem 0.75rem;

    @media (min-width: 768px) {
      margin: 0px;
      display: flex;
    }

    h2 {
      background: url(../images/globe.jpg) no-repeat;
      color: #ffffff;
      padding: 1rem;
      background-size: cover;
      margin: 0px;

      @media (min-width: 768px) {
        width: 30%;
        display: flex;
        justify-content: end;
        flex-direction: column;

        span {
          display: block;
          width: 40%;
        }
      }
    }

    .content {
      background-color: #ffffff;
      padding: 1rem;

      p {
        font-size: 110%;
      }

      @media (min-width: 768px) {
        width: 70%;
        padding: 4rem 5rem;

        p {
          font-size: 112%;
        }
      }
    }
  }

  .countries {
    p {
      margin: 1rem 1.5rem;

      @media (min-width: 768px) {
        margin: 1rem 10rem;
      }
    }

    img {
      padding: 0px 1.5rem;
    }
  }

  .leadership {
    .grid {
      display: grid;
      gap: 1rem;
      list-style: none;
      margin-top: 2rem;

      @media (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 768px) {
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      li {
        background-color: var(--ori-gray);
        display: flex;

        img {
          width: 150px;
          height: auto;
        }
        .title {
          padding: 1rem;
          flex-grow: 1;
          h3 {
            font-weight: 600;
            font-size: 125%;
            a {
              color: #000000;
            }
          }
        }

        @media (min-width: 576px) {
          flex-direction: column;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

//homepage background overrides
body.front {
  #preface {
    background: url(../images/logo-accent.png) no-repeat;
    background-position: -70% -3%;
    background-size: 80%;
    @media (min-width: 768px) {
      background-position: -10% -5%;
      background-size: initial;
    }

    .btn-brown {
      background-color: var(--ori-brown);
      color: #ffffff;

      &:hover {
        background-color: var(--ori-green);
        color: #000000;
        border-color: var(--ori-green);
      }
    }

    &::before,
    &::after {
      content: none;
    }
  }

  #content-before {
    background: none;
  }
}

#footer {
  background-color: var(--ori-light-gray);
  h2 {
    font-size: 1.02rem;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  p {
    color: #939191;
  }

  p:nth-child(3),
  p:nth-child(4) {
    color: #e0e0e0;
    margin: 0 0 7px;

    i {
      color: var(--ori-green);
      padding-right: 6px;
    }
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      a {
        color: #939191;
      }
    }
  }
}

#copyright {
  background-color: var(--ori-dark-gray);
  color: #939191;

  p {
    margin: 0px;
    padding: 0px;
    font-size: 93%;
  }

  a {
    color: var(--ori-green);
  }

  i {
    margin: 0 15px;
  }
}
